APP_NAME=basern prod
API_URL=http:/$()/HOANG.org/
ANDROID_APP_ID=com.basernprod
ANDROID_APP_VERSION_NAME=1.0.3
ANDROID_APP_VERSION_CODE=13
IOS_APP_ID=com.basern.prod
IOS_APP_VERSION_CODE=1.0.3
IOS_APP_BUILD_CODE=1
CODEPUSH_ANDROID_DEVELOPMENT_KEY=\"
CODEPUSH_IOS_DEVELOPMENT_KEY=\"
ONE_SIGNAL=\"
FACEBOOK_DISPLAY_NAME=BASERN
FACEBOOK_APP_ID=0000
FACEBOOK_BUNDLE_URL=0000
